ul {
    list-style-type: none;
}


#word {
    text-align: center;
    letter-spacing: .5em;
    font-size: 2em;
}

form {
    padding-top: 2em
}

h1 {
    text-align:center
}

#main {
    padding-top: 2em;
}
