<!doctype html>

<html>
    <head>
        <title>Hangman</title>
    </head>

    <body>
        <h1>Welcome to Hangperson!</h1>

        <div id="main">
            <div id="hang">
                <h2>Guesses Left</h2>
                <p> {{ num_guesses }} </p>
            </div>
            <div id="mistake">
                <h2>Wrong Letters</h2>
                {% if missed %}
                <ul>
                    {% for each in missed %}
                    <li>
                        {{ each }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        
        <div id="word"> {{ guess }}</div>

        
        {% if not over %}
            <form action="/take_turn" method="POST">
                <label for="letter-input">Enter a Letter:</label>
                <input type="text" name="letter", id="letter-input" /> <br>
                
                <input type="submit">
            </form>
           
        {% endif %}
        {% if over %}
            {%  if win %}
            <h2>You Win!</h2>
            {% else %}
            <h2>Sorry, You Lose! The word was {{secret}}.</h2>
            {% endif %}

        <div>
            <a href="/new_word">New Word</a>
            <a href="/">Exit</a>
        </div>
        {% endif %}
    </body>

</html>
