<!doctype html>

<html>
    <head>
        <title>Hangman</title>
    </head>

    <body>
        <h1>Welcome to Hangperson!</h1>

        <div id="main">
            <div id="hang"></div>
            <div id="mistake"></div>
        </div>
        <div id="word"></div>

        <p>

            <form action="/take_turn">
                <label for="letter-input">Enter a Letter:</label>
                <input type="text" name="letter", id="letter-input" /> <br>
                
                <input type="submit">
            </form>
           
        </p>
    </body>

</html>
